@media screen and (max-width: 750px) {
  .column {
    width: 100%;
  }
  .row {
    grid-template-columns: 1fr;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
}
table {
  /* border-collapse: separate; */
  border-spacing: 0px;
}
form,
.home-page,
.modal {
  text-align: center;
}

.form-grid {
  /* login page */
  border: 3px solid #f1f1f1;
  text-align: center;
  max-width: 50%;
  background: rgb(238, 238, 238);
  border: 1px solid #ccc;
  line-height: 1.5em;
}

.success-message {
  color: #517bd6;
  font-weight: bold;
  text-align: center;
}
.status-open {
  color: #d65151;
}
.status-close {
  color: #5cd651;
}

.h1-title {
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.row {
  border-bottom: 5px solid #333;
  /* margin-bottom: 50px; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}
.column-100 {
  float: center;
}

.column-30 {
  float: left;
  width: 33%;
  list-style-type: none;
}
.column-30-center {
  float: center;
  width: 33%;
}
.column-50 {
  float: left;
  width: 50%;
  list-style-type: none;
  align-items: left;
  text-align-last: center;
}
.column-50-text-left {
  float: left;
  width: 50%;
  list-style-type: none;
  align-items: left;
}
.form-title {
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn-render-inside-modal {
  width: 18%;
  font-size: 12px;
}
.modal-popup {
  text-align: center;
  overflow: auto;
}

.problem-container-description {
  text-align: center;
  padding-top: 20px;
  line-height: 1.5em;
  float: left;
  width: 50%;
  display: inline-grid;
  background: #eeeeee;
}
.problem-container-description h1 {
  padding-top: 20px;
  line-height: 1.5em;
}

.problem-container-buttons {
  width: 50%;
  float: right;
  text-align: center;
}
.problem-container-new-comment {
  border: none;
  border: 1px solid grey;
}
.one-problem-comments-table {
  width: 85%;
  overflow: auto;
}
.one-problem-comments-table th {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.one-problem-comments-table td {
  padding: 0;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  margin: auto;
  border: none;
}
.dependents-table {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 0px 0px;
  margin: 0 auto;
}
.dependents-table-header {
  text-align: center;
  font-weight: bold;
}
.dependents-table-td td {
  font-size: 14px;
  font-weight: normal;
  border-collapse: collapse;
}

.one-problem-comment {
  width: 80%;
  display: block;
  margin: auto;
  position: absolute;
}

.add-comment {
  width: 100%;

  margin: auto;
}
.open-comments-appointments li {
  text-align: left;
  padding: 5px;
  list-style-type: disc;
  font-size: 14px;
}
.files-list {
  list-style: url(./images/file-icon.png);
  text-align: left;
}
.search-results li {
  text-decoration: none;
  text-align: left;
}
.map-squere {
  float: right;
  margin-right: 10px;
  position: relative;
  width: 40%;
  height: 500px;
  box-sizing: border-box;
  border: none;
}
.form-grid-newProblem {
  border: 3px solid #f1f1f1;
  text-align: center;
  max-width: 70%;
  background: rgb(238, 238, 238);
  border: 1px solid #ccc;
}
input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}
.form-container {
  padding: 10px;
}
.form-container-newProblem {
  padding: 10px;
}

select,
input[type="text"],
input:disabled,
input[type="time"],
input[type="date"],
input[type="password"] {
  width: 80%;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="file"].upload-file {
  font-size: 18px;
  width: 90%;
  align-content: center;
  padding: 20px;
  padding-left: 50px;
  margin: 0;
  top: 50%;
  margin-right: -30%;
  /* position: absolute; */
  /* left: 50%;
  right: 50%; */
  /* transform: translate(-50%, -50%); */
}

.one-appointment-edit {
  margin: 0;
}

textarea {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  white-space: pre-line;
  text-align: center;
}
.edit-appointment-textarea {
  width: 80%;
  margin: 0 auto;
  padding: 8px;
}
.edit-problem-textarea {
  width: 200%;
  margin: 0 auto;
  padding: 8px;
}

.btn-edit {
  padding-right: 40px;
  margin-left: 10px;
  float: center;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: transparent;
  background: none;
  outline: none;
  background: url(./images/edit.png) no-repeat;
}
.btn-edit-right {
  margin-left: 40px;
  float: center;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: transparent;
  background: none;
  outline: none;
  background: url(./images/edit.png) no-repeat;
}

/* .x-btn:focus {
  outline: none;
} */
.one-problem-grid {
  grid-template: ;
}

.add-to-calendar,
.add-to-calendar a {
  padding: 0;
  background-color: #51d6cb;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  text-align: center;
  /* float: center; */
  text-decoration: none;
  list-style: none;
}
.add-to-calendar ul li a {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}
li::marker {
  text-decoration: none;
  list-style: none;
  color: #51d6cb;
}

.btn {
  /* login page */
  background-color: #51d6cb;
  color: #333;
  padding: 14px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.btn-10 {
  /* login page */
  background-color: #51d6cb;
  color: #333;
  padding: 10px;
  font-size: 12px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  text-align: center;
  float: center;
  font-weight: bold;
}
.btn-blue {
  /* login page */
  background-color: #517bd6;
  color: snow;
  padding: 10px;
  font-size: 12px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  font-weight: bold;
}
.btn-red-10 {
  /* login page */
  background-color: #d65151;
  color: #333;
  padding: 10px;
  font-size: 12px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  text-align: center;
  float: center;
  font-weight: bold;
}
.btn-width-80 {
  background-color: #51d6cb;
  color: #333;
  font-weight: bold;
  padding: 14px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  text-align: center;
}

.btn-info {
  background-color: #51d6cb;
  color: #333;
  padding: 10px;
  /* margin: 4px; */
  border: none;
  bottom: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.search-btn {
  background-color: #51d6cb;
  color: #333;
  padding: 10px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  height: 45px;
}

.btn-delete {
  padding-right: 40px;
  float: left;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: transparent;
  background: none;
  outline: none;
  background: url(./images/delete.png) no-repeat;
}

.btn-delete-right {
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: transparent;
  background: none;
  outline: none;
  background: url(./images/delete.png) no-repeat;
}
.back-btn {
  /* login page */
  margin-left: 10px;
  float: center;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  color: transparent;
  background: none;
  outline: none;
  background: url(./images/back.png) no-repeat;
}
.btn-more {
  margin-left: 30px;
  float: center;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  color: transparent;
  background: none;
  outline: none;
  background: url(./images/more-icon.png) no-repeat;
}
.popup-form input[type="file"],
.popup-form input[type="text"] {
  text-align: center;
  padding: 10px 0 10px 0;
}
.problems-list-table {
  border-collapse: collapse;
  width: 100%;
  padding: 8px;
  table-layout: auto;
}

.problems-list-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.problems-list-table th {
  text-emphasis: bold;
  text-align: center;
  background-color: #51d6cb;
  color: #333;
  text-align: center;
}

.problem-card {
  text-align: center;
  background: #eeeeee;
  width: 15rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  line-height: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.problem-card a {
  cursor: pointer;
  text-align: center;
  width: 15rem;
  height: 30rem;
  display: inline-grid;
}

.card-header {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  width: 100%;
  height: 2rem;
  color: #bad63d;
  word-wrap: normal;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5em;
}
.card-footer {
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dependent-card {
  padding-top: 20px;
  padding: 10px;
}
.navbar {
  position: relative;
  background-color: #333;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}

.navbar-list .navbar-list-followDoc {
  height: 100%;
  color: #bad63d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  padding: 0;
}

.navbar-list a {
  height: 100%;
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 17px;
}
.navbar-list-button {
  background: transparent;
  border: none;
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-list button:hover,
.navbar-list a:hover {
  color: #51d6cb;
  cursor: pointer;
}
.navbar-list-items {
  border: none;
  margin-top: 1px;
  font-size: 17px;
  text-align: center;
  align-content: center;
}
.search-bar input[type="text"] {
  background-image: url(./images/search-icon.png);
  background-color: white;
  background-position: 10px;
  background-repeat: no-repeat;
  margin: 0;
  width: 25%;
  height: 45px;
}

a {
  color: black;
  text-decoration: none;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 140px;
}
* {
  outline: none;
  padding: 6px;
  margin: 0 auto;
  /* text-align: center; */
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
  /* word-wrap: break-word; */
  /* border-radius: 5px; */
}
